.main-nav-all{
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  display: none;

  &--active {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  &__list{


    &--active {
        text-align: left;
        list-style: none;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        background-color: @color-header-all;
        // background-color: transparent;
        width: 100%;
        border-top: 1px solid @color-header-all;
        z-index: 1;

        a{
          font-family: @font_ProximaNovaRegular;
          color: @color-title-header-all;
          font-weight: 400;
          font-size: 14px;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
  }


  &__logo{
    display: none;
  }

  &__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item{
    text-align: center;
    padding: 0;
    a{
      display: inline-block;
      padding: 10px 0;
      text-decoration: none;
      color: @color-title-header-all;
      font-size: 18px;
      font-family: @font_OpenSans_Light;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }

  &__item:hover{
    a{
      text-decoration: underline;
    }
  }

  @media (min-width: @screen-sm){
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logo{
      display: inline-block;
      padding-bottom: 5px;
    }

    &__list{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__item{
    //padding: 10px 20px;
      a{
        padding: 10px 10px;
        // font-size: 16px;
      }
    }

  }

  @media (min-width: @screen-lg){
    display: flex;
    flex-direction: column;
    justify-content: center;
    // &__toggler{
    //   display: none;
    // }

    &__logo{
      display: inline-block;
    }

    &__list{
      flex-direction: row;
      justify-content: center;
    }

    &__item{
      a{
        padding: 10px 10px;
      }
    }

  }

}
