.main-picture{
  // background-image: url('../img/main.png');
  // background-repeat: no-repeat;
  // background-size: cover;

// @media (min-width: @screen-lg){

  video{
   position:fixed;
   z-index:-1;
   min-width:100%;
   min-height:100%;
   overflow:hidden;

  }

}