.main-nav{
  display: none;

  &--active {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  &__list{


    &--active {
        text-align: left;
        list-style: none;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        background-color: @color-footer-all;
        width: 100%;
        border-top: 1px solid @color-header-all;
        z-index: 1;

        a{
          font-family: @font_ProximaNovaRegular;
          color: @color-title-header-all;
          font-weight: 400;
          font-size: 14px;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
  }

  &__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item{
    text-align: center;
    padding: 0;
    a{
      display: inline-block;
      padding: 10px 0;
      text-decoration: none;
      color: @color-title-header;
      font-size: 18px;
      font-family: @font_OpenSans_Light;
      text-transform: uppercase;
      letter-spacing: 8px;
      font-weight: 800;
    }
  }

  &__item:hover{
    a{
      text-decoration: underline;
    }
  }

  @media (min-width: @screen-sm){
    display: flex;
    &__list{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__item{

      a{
        padding: 10px 8px;

      }
    }

  }

}
