.page-header-all{
  margin-top: 20px;

  background-color: @color-header-all;
  padding: 15px 50px;
  &__inner{
    .container-large-fixed();
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__translate{
    display: inline-block;
    padding: 70px 0 0 0;
    text-decoration: none;
    text-align: center;
    a{
      color: @color-translate-all;
      font-size: 18px;
      text-transform: uppercase;
      padding: 10px 12px 10px 0;
      text-decoration: none;
      letter-spacing: 3px;
    }
  }

  &__buy{
    text-align: center;
    padding-top: 60px;
  }

  @media (min-width: @screen-sm){
    margin-bottom: 80px;
    &__inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  }
}