.page-header{
  padding: 90px;
  &__inner{
    .container-large-fixed();
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__translate{
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    a{
      color: @color-translate;
      font-size: 18px;
      text-transform: uppercase;
      padding: 10px 12px 10px 0;
      text-decoration: none;
      letter-spacing: 3px;
    }
  }

  &__buy{
    text-align: center;
  }

  @media (min-width: @screen-sm){
    &__inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  }
}